@page
@model KonamiModel
@{
    ViewData["Title"] = "Konami";
}

<h1>Konami</h1>

<p>Bravo, vous avez trouvé cette page secrète !</p>
<p>Pour vous récompenser, une petite musique de la victoire !</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/e2mJmg2WMyM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<style>
    iframe {
        display:block;
        margin: auto;
    }
</style>